# --- CORE ---
numpy<2
pandas
scipy
altair<5

# --- INTERFAZ & PLOTS ---
streamlit
matplotlib
seaborn

# --- DATA HANDLING ---
pyarrow==14.0.1
openpyxl 

# --- WORK ENVIROMENT ---
jupyterlab
ipykernel
ucimlrepo
