# --- CORE ---
numpy
pandas
scipy
altair<5

# --- INTERFAZ & PLOTS ---
streamlit
matplotlib
seaborn

# --- DATA HANDLING ---
pyarrow  
openpyxl 

# --- WORK ENVIROMENT ---
jupyterlab
ipykernel
ucimlrepo